{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">
    <div class="row">
        <!-- Undevoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><h1>Burgers Ordered</h1></div>
                <div class="panel-body">
                    <ul class="burgerName">
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="eatburger" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}">Devour Burger!</button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        
       <h1>Order a Burger</h1>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger"></label>
                    <input type="text" id="newburger" class="textArea" name="burger">
                    {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                    <button type="submit" class="orderBtn" id="addburger">Order a Burger!</button>
                </div>
            </form>
        </panel>
    </div><!-- /jumbotron -->


        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead"><h1>Devoured Burgers</h1></div>
                <div class="panel-body">
                    <ul class="devoured">
                        {{#each burgers}}
                            {{#if devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="trashburger" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}">Trash Burger!</button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /row -->

</div><!-- /container -->