{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}


        
    <h1 class="orderTitle">Order a Burger</h1><br>
        <form class="create-form">
            <label for="newburger"></label>
            <input type="text" id="newburger" class="textArea" name="burger"><br>
            <button type="submit" class="orderBtn" id="addburger">Order a Burger!</button>
        </form>

<div class="burgerName">
    <h1>Burgers Ordered</h1>
       <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>{{this.id}} - {{this.burger_name}} <button type="button" class="eatburger" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}">Devour Burger!</button></li>
            {{/unless}}
            {{/each}}
            </ul>
</div>
 
 <div  class="devoured">
    <h1>Devoured Burgers</h1>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>{{this.id}} - {{this.burger_name}} <button type="button" class="trashburger" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}">Trash Burger!</button></li>
            {{/if}}
            {{/each}}
            </ul>
  </div>           
        

