{{! This is the template that the html with display to
Need a submit button that inputs data into mySQL}}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/Assets/css/burger_style.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">   
    <head>
		<title>Eat-Da-Burger</title>
	</head>

<p class="aligncenter">
    <img src="Assets/img/Eat-Da-Burger-Logo-Blue.png" alt = "logo"><br>
    <img src="Assets/img/Colorful-Burgers-2.png" alt = "burgers">
</p>

  <body>
		{{{ body }}}
	</body>
</html>

{{!List area on left for ordered burgers}}
<div class="orderList">
<h1>Burgers Ordered</h1>
<ul>
  {{#each burgers}}
  {{#unless this.devoured}}
  <li class="burgerName">
      {{this.id}}. {{this.burger_name}} <button type="submit" name="devoured" value="1" id="devourBurger" class="btn">Devour a Burger!</button>
   </li>
  {{/unless}}
  {{/each}}
</ul>
</div>

{{!Text area in middle to order burger}}
<div class-="orderArea">
<form id="orderburger" class="button-size">
  <textarea class="textArea" type="text" name="burger_name"></textarea><br>
  <button type="submit" class="orderBtn">Order a Burger!</button>
</form>
</div>

{{!List area on right for devoured burgers}}
<div class="devourList">
<h1>Burgers Devoured</h1>
<ul>
  {{#each burgers}}
  {{#if this.devoured}}
  <li class="burgerName">
    {{this.id}}. {{this.burger_name}} 
  </li>
  {{/if}}
  {{/each}}
</ul>
</div>

{{!-- Create a new burger --}}
<script type="text/javascript">
  $("#orderburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      burger_name: $("#orderburger [name=burger_name]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
  
//Devour a burger
  $("#devourBurger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var devourBurger = {
      devoured: $("#devourburger [name=burger_name]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/burgers", {
      type: "PUT",
      data: devoured
    }).then(
      function() {
        console.log("devoured burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>