{{! This is the template that the html with display to
Need a submit button that inputs data into mySQL}}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/Assets/css/burger_style.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">   
    <head>
		<title>Eat-Da-Burger</title>
	</head>

<p class="aligncenter">
    <img src="Assets/img/Eat-Da-Burger-Logo-Blue.png" alt = "logo"><br>
    <img src="Assets/img/Colorful-Burgers-2.png" alt = "burgers">
</p>

  <body>
		{{{ body }}}
	</body>
</html>

<ul>
  {{#each burgers}}
  <li class="burgerName">
    <p>
      {{this.id}}. {{this.burger_name}}
    </p>
  </li>
  {{/each}}
</ul>

<h2 class="order">Order a Burger</h2>
<form id="orderburger" class="button-size">
  <textarea type="text" name="order"></textarea>
  <button type="submit" class="btn">Order a Burger!</button>
</form>

<h2 class="devour">Devour a Burger</h2>
<form id="devourburger" class="button-size">
  <select name="id">
		{{#each burgers}}
			<option value="{{this.id}}">{{this.burger_name}}</option>
		{{/each}}
	</select>
  <button type="submit" class="btn">Devour a Burger!</button>
</form>

<script type="text/javascript">
  $("#orderburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=burger_name] will find an element with a "name" attribute equal to the string "plan"
    var newBurger = {
      order: $("#orderburger [name=order]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#devourburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $("[name=id]").val().trim();

    var devourBurger = {
      order: $("#devourburger [name=order]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: devourBurger
    }).then(
      function() {
        console.log("devoured burger ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>